version: "2"
services:
    fader:
        # before create Dockerfile in ./state/app
        build: ./state/app
        restart: always
        volumes:
            - ./state/app/workspace:/app/_workspace
            # - ./state/logs/app:/app/logs
        # tty: true
        ports:
            - 8081:3322
        environment:
            FADER_WORKSPACE: "/app/_workspace/"
            FADER_HTTPLISTENER:: ":3322"
            # FADER_ESADDRESS:: http://elasticsearch:9200
            FADER_ESADDRESSDOCKER: "elasticsearch"
            FADER_ESINDEX:: "fader_v1"
            FADER_SESSIONSECRET: "secure-key"
            FADER_LOGGERMODE: info
            FADER_APPSETUP: https://s3.eu-central-1.amazonaws.com/releases.fader.inpime.com/archives/FADER(console).v0.1.2.20160722_090106.zip
        links:
            - elasticsearch
    elasticsearch:
        image: elasticsearch
        volumes:
            # - ./state/app_es/config:/usr/share/elasticsearch/config
            - ./state/app_es/data:/usr/share/elasticsearch/data:rw
            # - ./state/logs/app_es:/usr/share/elasticsearch/log